* {
    box-sizing: border-box;
}

.container {
    border: 5px solid green;
    height: 500px;
    width: 800px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    
}

.purple {
    border: 3px solid purple;
    height: 310px;
    width: 50%
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    
  
    
}

.small_box {
    border: 3px solid gray;
    height: 85px;
    width: 375px;
    margin: 10px;
    display: flex;
    padding: 10px;
 
   
}

.half_size {
    border: 3px solid gray;
    height: 310px;
    width: 50%;
}